<div layout="row" layout-align-xs="space-between" flex layout-wrap>
    <div flex-xs="45" flex-gt-xs="25">
        <div class="al-product-card" layout="column" layout-wrap md-whiteframe="5">
            <div class="product-thumb">
                <a href="#"><img src="/assets/images/dummy/1.jpg" alt="" /></a>
            </div>
            <div class="name">
                <a href="#"><h4>Tag Huer Masserati</h4></a>
            </div>
            <div class="cost">
                <b>Cost : <span class="currency"> {{'1300' | currency:'&#8377;'}} </span></b>
            </div>
            <div class="action-buttons" layout="row">
                <div flex="50" layout="row" layout-align="center center">
                    <md-button class="margin-0 md-raised cart" aria-label="description" md-no-ink="true">
                        <div layout="row" layout-align="center center">
                            <ng-md-icon hide-xs show-gt-xs icon="add_shopping_cart" size="24"></ng-md-icon>
                            <ng-md-icon hide-gt-xs show-xs icon="add_shopping_cart" size="16"></ng-md-icon>
                        </div>
                    </md-button>
                </div>
                <div flex="50" layout="row" layout-align="center center">
                    <md-button class="margin-0 md-raised wishlist" aria-label="description" md-no-ink="true">
                        <div layout="row" layout-align="center center">
                            <ng-md-icon hide-xs show-gt-xs icon="add_favorite" size="24"></ng-md-icon>
                            <ng-md-icon hide-gt-xs show-xs icon="add_favorite" size="16"></ng-md-icon>
                        </div>
                    </md-button>
                </div>

            </div>
        </div>
    </div>

    <div flex-xs="45" flex-gt-xs="25">
        <div class="al-product-card" layout="column" layout-wrap md-whiteframe="5">
            <div class="product-thumb">
                <img src="/assets/images/dummy/1.jpg" alt="" />
            </div>
        </div>
    </div>


</div>
