<div class="margin-tb-2 padding-tb-3 padding-lr-2 single-product-page page" md-whiteframe="5">
    <div class="single-product-card" layout="row" layout-wrap>
        <div flex-gt-xs="40" flex-xs="100" layout="column" layout-wrap>
            <div class="thumb-image" layout="row" layout-align="center center">
                <img src="/assets/images/dummy/im2.jpg" alt="">
            </div>
        </div>
        <div flex-gt-xs="60" layout="column" layout-wrap class="details">
            <div class="title">
                <h2> Rolex R1B Series 255T 24-Carat</h2>
            </div>
            <div class="margin-tb-1" layout="row" layout-wrap>
                <div flex-gt-xs="40" class="link-details">
                    <p class="font-16"><b>Category : </b><a href="#">Watches</a></p>
                </div>
                <div flex-gt-xs="40" class="link-details">
                    <p class="font-16"><b>Brand : </b><a href="#">Rolex</a></p>
                </div>
            </div>
            <div class="margin-bottom-1">
                <p class="font-16"><b>Features :</b></p>
                <ul>
                    <li>
                        <b>Belt :</b> Steel
                    </li>
                    <li>
                        <b>Color :</b> Gold
                    </li>
                </ul>
            </div>

            <div class="margin-bottom-1 cost">
                <p class="font-16"><b>Cost : </b>
                    <span class="currency">{{'1200'| currency:'&#8377;'}}</span></p>
            </div>

            <div class="margin-bottom-1">
                <p class="font-16"><b>Description :</b></p>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
                </p>
            </div>

            <div class="margin-bottom-1">
                <p class="font-16"><b>Terms & Conditions :</b></p>
                <p>
                    <ul>
                        <li>Delivery within 7 Days of payment</li>
                        <li>Box with the product</li>
                        <li>No warrant and repclacement policy after purchase</li>
                    </ul>
                </p>
            </div>

            <div class="action-buttons" layout="row">
                <md-button class="md-raised cart" aria-label="description">
                    <div layout="row" layout-align="space-between center">
                        <ng-md-icon icon="add_shopping_cart"></ng-md-icon>
                        <p><b> Add to cart </b></p>
                    </div>
                </md-button>

                <md-button class="md-raised wishlist" aria-label="description">
                    <div layout="row" layout-align="space-between center">
                        <ng-md-icon icon="add_favorite"></ng-md-icon>
                        <p><b> Add to wishlist </b></p>
                    </div>
                </md-button>
            </div>
        </div>
    </div>

</div>

<!-- public\assets\images\products\ -->
