<div layout="row" class="main-container" ng-controller="OutappController as oc">
    <div flex="100" layout="column">
        <md-toolbar ng-if="true" class="al-header-out padding-lr-2" md-whiteframe="3">
            <div ng-include src="'/templates/components/header_out.html'"></div>
        </md-toolbar>
        <md-content flex class="al-main-content-out" layout="row">

            <div id="preloader-container" ng-include src="'/templates/components/preloader.html'" ng-show="pageTransition">
            </div>
            <div ng-show="!pageTransition" flex class="al-out-content">
                <h1>Hello Outside</h1>

            </div>

            <!-- <md-sidenav flex-xs="80" flex-gt-xs="20" class="al-sidenav-out md-sidenav-right" md-component-id="login" md-whiteframe="2">
                <div ng-include src="'/templates/components/sidenav/sidenav.login.html'"></div>
            </md-sidenav>

            <md-sidenav flex-xs="80" flex-gt-xs="20" class="al-sidenav-out md-sidenav-right" md-component-id="register" md-whiteframe="2">
                <div ng-include src="'/templates/components/sidenav/sidenav.register.html'"></div>
            </md-sidenav> -->
        </md-content>
        <!-- <md-toolbar md-scroll-shrink ng-if="true" class="al-header-out padding-lr-2" md-whiteframe="3" layout="row">
            <div flex>
            </div>
        </md-toolbar> -->
    </div>

</div>
