.al-dialog{


    @media screen and (min-width: 600px){
        margin-top: 50px;
        margin-bottom: 50px;
    }

    md-toolbar{
        h2{
            color: $white;
        }
    }

    md-dialog-content{
        padding: 20px;
        padding-top: 40px;

    }

    .al-error{
        color: $input-dark-warn-color;
    }
}
