.al-sidenav{

    min-width: 256px;

    .al-subOption-selected{
        background-color: rgba(250,250,250,0.45);
        border-left: 2px solid $secondary-dark;
        color: $blue-grey-900;
        font-weight: 600;
    }

    .al-suboptions{
        background-color: rgba(0,0,0,0.15);
        color: #CFD8DC;
    }

    // .md-button.md-accent[disabled]{
    //     color: $secondary-light !important;
    // }
    //
    // .md-button.md-primary[disabled]{
    //     color: $primary-light !important;
    // }

    .md-button{
        text-align: left;
    }
}

.al-notifications-sidenav{
    .header{
        background: $primary-dark;
        text-align: center;
        h2{
            color: #fff;
        }
    }
}

.sidenav-container{
    .container-title{
        padding: 10px 5px;
        background: rgba(0,10,20,0.3);
        letter-spacing: 1.3px;

        .title-icon{
            fill:white;
            height:20px;
        }
    }

    .md-button.md-icon-button{
        padding: 0;
        width: 20px;
        height: 20px;
        min-height: 20px;
        line-height: 12px;
        border: 1px solid white;
        border-radius: 50%;
        fill: white;

        ng-md-icon{
            height: 16px;
        }
    }

    .md-icon-button.md-button:not([disabled]):hover{
        background-color : white;
        fill : rgba(0,0,0,1);
    }
}
