<div class="cart-product-card padding-1" layout="row" layout-wrap>
    <div class="thumb-image" flex="nogrow">
        <img src="/assets/images/dummy/1.jpg" alt="" />
    </div>
    <div flex-xs="grow"  flex-gt-xs class="details margin-left-2" layout="column" layout-align="space-between">
        <h3>Tag Huer Monaco TB113 2016 Collection</h3>
        <div layout="row" layout-wrap>
            <p flex-gt-xs="30"><b>Category: </b> <a href="#">{{product.product.category}}</a></p>
            <p flex-gt-xs="30"><b>Brand : </b><a href="#">{{product.product.brand}}</a> </p>
            <h4 flex-gt-xs="30" class="cost">Price : <span class="currency">{{product.product.cost | currency:'&#8377;'}}</span></h4>
        </div>

        <div layout="row" layout-wrap layout-align="none center">

                <md-input-container class="margin-bottom-0 " flex-gt-xs="30">
                    <label>Quantity</label>
                    <md-select ng-model="product.quantity"> <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
                        <md-select-label class="margin-1">Select a Quantity</md-select-label>
                        <md-option ng-value="opt" ng-repeat="opt in [1,2,3,4,5]">{{ opt }}</md-option>
                    </md-select>
                </md-input-container>

                <div flex-offset-gt-xs="10" flex-gt-xs="40" class="sub-total">
                    <h4 class="cost">Sub Total : <span class="currency">{{product.subTotalCost | currency:'&#8377;'}}</span></h4>
                </div>

        </div>
    </div>
    <div flex-xs="100" flex-gt-xs="nogrow" class="action-buttons padding-1" layout="column" layout-align="space-around">

        <md-button class="md-raised wishlist" ng-disabled="" md-no-ink="true">
            <div layout="row" layout-align="center center">
                <ng-md-icon size="20" icon="add_favorite"></ng-md-icon>
                <p><b> Move to wishlist </b></p>
            </div>
        </md-button>

        <md-button class="md-raised remove" ng-disabled="" md-no-ink="true">
            <div layout="row" layout-align="center center">
                <ng-md-icon size="20" icon="delete_forever"></ng-md-icon>
                <p><b> Remove item </b></p>
            </div>
        </md-button>
    </div>
</div>
