<div class="margin-tb-2 padding-tb-3 padding-lr-2 page" md-whiteframe="5" ng-controller="CustomOrderController as coc">
    <h2>Custom Order</h2>

    <form name="customOrderForm" class="al-custom-order margin-top-2" layout-gt-xs="row" layout-xs="column" layout-wrap>

        <div class="products-upload" layout-wrap layout-gt-xs="row" layout-align-gt-xs="space-between" flex-gt-xs="60">
            <div class="image-preview" flex-gt-xs="45" ng-repeat="image in coc.productImages">
                <img  ngf-thumbnail="image" alt="" />
            </div>

            <div class="image-upload" flex-gt-xs="45">
                <input name="productImages" type="file" required hide-gt-xs hide-xs ng-model="coc.productImages">
                <div flex ngf-drop ngf-select ng-model="coc.productImages"
                   ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                   accept="image/*" ngf-resize="{width: 300, height: 360, centerCrop: true, restoreExif: false}" ngf-pattern="'image/*'" layout="row" layout-align="center center" layout-wrap>
                        <span flex="60" hide-xs show-gt-xs>Drag-Drop or Click to upload product images</span>
                        <span flex="80" hide-gt-xs show-xs>Click to upload product images</span>
                </div>
            </div>
        </div>

        <!-- <div class="image-upload" layout-wrap layout="row">



            <div ng-if="coc.productImage" class="onHover">
                <div class="detail" layout="row" layout-align="center center">
                    <span flex="60" hide-xs show-gt-xs>Drag-Drop or Click to change product image</span>
                    <span flex="100" hide-gt-xs show-xs>Click to change product image</span>
                </div>
            </div>
        </div> -->
    </form>
</div>
