.al-custom-order{
    .image-preview{
        min-height: 144px;
        min-width: 120px;

        overflow: hidden;

        @media screen and (min-width: 600px){
            // width: 200px;
            height: 240px;
        }
    }
    .image-upload{
        min-height: 144px;
        min-width: 120px;

        @media screen and (min-width: 600px){
            // width: 200px;
            height: 240px;
        }
        cursor: pointer;
        background-color: $blue-grey-100;
        border: 1px solid $blue-grey-900;

        span{
            text-align: center;
            font-weight: 600;
            color: $h1-color;
        }
    }

    .image-upload:hover{
        background-color: rgba($blue-grey-600,0.7);
        span{
            color: $white;
            font-weight: 600;
        }
    }
}
