<div class="margin-tb-2 padding-tb-3 padding-lr-2 page" md-whiteframe="5">
    <h2>Change Password</h2>

    <div layout="row" class="margin-top-3" layout-wrap>
        <div flex-gt-xs="70" layout="column">
            <md-input-container>
                <label>Current Password</label>
                <input type="password" ng-model="sc.password.input" ng-focus="!!sc.password.input" autofocus md-autofocus="true">
            </md-input-container>

            <md-input-container>
                <label>New Password</label>
                <input type="password" ng-model="sc.password.new" >
            </md-input-container>

            <md-input-container>
                <label>Confirm Password</label>
                <input type="password" ng-model="sc.password.confirm">
            </md-input-container>
        </div>
        <div flex-offset-gt-xs="5" layout="column" class="padding-lr-2">
            <md-button ng-click="" class="md-raised md-primary md-hue-1" ng-show="sc.password.input" ng-disabled="!sc.password.confirm" aria-label="edit">
                <b>Change Password</b>
            </md-button>
        </div>
    </div>
</div>
