<div class="margin-tb-2 padding-tb-3 padding-lr-2 page" md-whiteframe="5">
    <h2>User Information</h2>

    <div layout="row" class="margin-top-3" layout-wrap>
        <div flex-xs="100" flex-gt-xs="70" layout="column">
            <md-input-container>
                <label>Name</label>
                <input type="text" ng-model="sc.user.name" ng-disabled="!sc.editInfo">
            </md-input-container>

            <md-input-container>
                <label>Email Address</label>
                <input type="text" ng-model="sc.user.email" ng-disabled="!sc.editInfo">
            </md-input-container>

            <md-input-container>
                <label>Mobile Number</label>
                <input type="text" ng-model="sc.user.mobileno" ng-disabled="!sc.editInfo">
            </md-input-container>

            <md-input-container ng-show="!!sc.user.address || sc.addAddress">
                <label>Residental Address</label>
                <textarea ng-model="sc.user.address" ng-disabled="!sc.editInfo" ng-focus="sc.editInfo" autofocus md-autofocus></textarea>
            </md-input-container>
        </div>

        <div flex-offset-xs="0" flex-xs="100" flex-offset-gt-xs="5" layout-align-xs="center" layout-xs="row" layout="column" class="padding-lr-2" layout-wrap>
            <md-button ng-click="sc.editInformation()" class="md-raised md-primary md-hue-1" ng-show="!sc.editInfo" aria-label="edit">
                <b>Edit Information</b>
            </md-button>
            <md-button ng-click="sc.saveInformation()" class="md-raised md-primary" ng-show="sc.editInfo" aria-label="edit">
                <b>Save Informattion</b>
            </md-button>
            <md-button ng-click="sc.addAddressInformation()" class="md-raised md-primary md-hue-1" ng-show="!sc.user.address && !sc.addAddress" aria-label="edit">
                <b>Add Address</b>
            </md-button>
        </div>
    </div>

</div>
