<div class="al-options margin-top-5" layout="column">
    <div layout="column">
        <md-button
            class="margin-0 padding-1 padding-left-2 text-capitalize"
            ui-sref-active="al-option-selected"
            ui-sref=".personal">
            Personal Settings
        </md-button>
        <md-button
            class=" margin-0 padding-1 padding-left-2 text-capitalize"
            ui-sref-active="al-option-selected"
            ui-sref=".password">
            Change Password
        </md-button>
    </div>
</div>
