<div layout="row" class="container-title" layout-align="space-between center">
    <div layout="row" layout-align="center center">
        <ng-md-icon icon="{{icon}}" class="title-icon" size="20"></ng-md-icon>
        <p class="">{{title | uppercase}}</p>
    </div>
    <md-button class="md-icon-button" layout="row" layout-align="center center" md-no-ink="true" aria-label="toggle" ng-click="toggleOptions()">
        <ng-md-icon icon="{{caret}}" size="16" options='{"rotation" : "clockwise","duration":500, "easing" : "expo-in-out"}'></ng-md-icon>
    </md-button>
</div>
<div layout="column">
    <div class="slide-vertical al-suboptions" ng-repeat="option in options" ng-show="showOptions" layout="column">
        <md-button class="margin-0 padding-left-4 text-capitalize"
        ui-sref-active="al-subOption-selected"
        ui-sref="{{option.state}}">
            {{option.name | replaceUnderscore}}
        </md-button>
    </div>
</div>
