<md-dialog class="al-dialog" flex-xs="100" flex-gt-xs="50" aria-label="Mango" ng-cloak>
    <form ng-submit="lc.login()" name="loginForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>LOGIN FORM</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="lc.closeDialog()" aria-label="clear">
            <ng-md-icon aria-label="clear" icon="clear" style="fill : white"></ng-md-icon>
        </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout="column" layout-align="start none">

            <md-input-container>
                <label>Email</label>
                <input md-autofocus required name="email" type="email" ng-model="lc.user.email">
                <div ng-messages="loginForm.email.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="email">Invalid e-mail address.</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input required minlength="6" name="password" type="password" ng-model="lc.user.password">
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="minlength">Password must be atleast 6 characters long.</div>
                </div>
            </md-input-container>



            <div ng-show = "lc.loginError && !(loginForm.$dirty)">
                <div class="al-error">
                    {{lc.errorMessage}}
                </div>
            </div>



    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="center">
        <md-button ng-disabled="loginForm.$invalid" type="submit" class="md-raised md-primary" aria-label="description">
            <b>Login</b>
        </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>
