
<div layout="row" class="al-header-options" layout-wrap layout-align="none center" ng-init="searShow = false">
    <div flex-xs="100" flex-gt-xs="20" class="logo">
        <img src="/assets/logo/logo-linear.svg" alt="" />
    </div>
    <md-button flex-xs="20" hide-gt-xs ng-click="ic.openLeftSidenav()" aria-label="dashboard" class="margin-0 padding-0 padding-tb-1 header-button">
        <div layout="row" layout-align="center center">
            <ng-md-icon icon="menu" aria-label="Menu Icon"></ng-md-icon>
        </div>
    </md-button>

    <div flex-gt-xs hide-xs></div>

    <md-button md-no-ink="true" flex-xs="20" aria-label="dashboard" class="search-button margin-0 padding-0 padding-tb-1 md-primary" layout="row" layout-align-xs="center center">
        <ng-md-icon class="close-icon slide-horizontal" ng-show="!searchShow" ng-click="searchShow = true" icon="search" aria-label="Dashboard Icon" size="20"></ng-md-icon>
        <div layout="row" layout-align="none center" ng-show="searchShow" class="slide-horizontal">
            <ng-md-icon ng-click="search()" icon="search" aria-label="Dashboard Icon" size="20"></ng-md-icon>
            <input md-auto-focus class="md-input slide-horizontal"  type="text" ng-model="searchQuery" placeholder="Search Products">
            <ng-md-icon class="close-icon slide-horizontal" ng-click="searchShow = false" icon="clear" size="16"></ng-md-icon>
        </div>
    </md-button>

    <md-button flex-xs="20" ui-sref=".cart" ui-sref-active="al-option-selected" aria-label="cart" class="margin-0 padding-0 padding-tb-1 header-button">
        <div layout="row" layout-align="center center">
            <ng-md-icon icon="shopping_cart" size="20" aria-label="Cart Icon"></ng-md-icon>
            <span hide-xs show-gt-xs>Cart</span>
        </div>
    </md-button>
    <md-button flex-xs="20" aria-label="notifications" ng-click="ic.openRightSidenav()" ng-disabled="ic.isOpenRightSidenav()" class="margin-0 padding-0 padding-tb-1 header-button">
        <div layout="row" layout-align="center center">
            <ng-md-icon icon="notifications" size="20" aria-label="Bell Icon"></ng-md-icon>
            <span hide-xs show-gt-xs>Notifications</span>
        </div>
    </md-button>
    <md-button flex-xs="20" ng-click="ic.logout()" aria-label="settings" class="margin-0 padding-0 padding-tb-1 header-button">
        <div layout="row" layout-align="center center">
            <ng-md-icon icon="power_settings_new" size="20" aria-label="logout Icon"></ng-md-icon>
            <span hide-xs show-gt-xs>Log Out</span>
        </div>
    </md-button>
</div>
