<div layout="row" layout-wrap layout-align="center center">
    <div flex-xs="100" flex-gt-xs="20" class="logo">
        <img src="/assets/logo/logo-linear.svg" alt="" />
    </div>
    <div flex show-gt-xs>
    </div>

    <md-button flex-xs="40" ng-click="oc.openDialog($event,'login')"
     class="al-border-button" aria-label="description">
        Login
    </md-button>

    <md-button flex-xs="40" ng-click="oc.openDialog($event,'register')"
     class="al-border-button" aria-label="description">
        Register
    </md-button>

</div>
