<div layout="column" ng-controller="SidenavController as sc">
    <div layout="column" class="sidenav-container" al-sidenav-container icon="store_mall_directory" title="Products" options="sc.categories">
    </div>

    <div layout="column" class="sidenav-container" al-sidenav-container icon="person" title="Account Options" options="sc.accountoptions">
    </div>

    <div layout="column" class="sidenav-container" al-sidenav-container icon="settings" title="Admin Options" options="sc.adminoptions">
    </div>

    <div layout="column" class="sidenav-container" al-sidenav-container icon="settings" title="Settings" options="sc.settingoptions">
    </div>
</div>
