<div class="category-card" md-whiteframe="5" layout="column" layout-wrap>
    <div class="header padding-1" layout="row" layout-align="center center">
        <h3>{{category.name}}</h3>
    </div>
    <div class="margin-top-1 padding-left-1">
        <h4>Brands : </h4>
    </div>
    <div class="brands padding-1" layout="row" layout-wrap layout-align="start">
        <md-chips class="category-chips" readonly="!edit" flex ng-model="category.brands" placeholder="Enter a Brand" secondary-placeholder="Add new Brand" md-enable-chip-edit="true">
            <md-chip-template>
                <p>{{$chip | replaceUnderscore}}</p>
            </md-chip-template>
            <button md-chip-remove class="remove-chip">
               <ng-md-icon icon="clear" size="14"></ng-md-icon>
            </button>
        </md-chips>
    </div>

    <div class="margin-top-1 padding-left-1">
        <h4>Filters : </h4>
    </div>
    <div class="filters padding-1 margin-bottom-1" layout="row" layout-wrap layout-align="start" >
        <md-chips class="category-chips" readonly="!edit" flex ng-model="category.filters" placeholder="Enter a Filter" secondary-placeholder="Add new filter" md-enable-chip-edit="true">
            <md-chip-template>
                <p>{{$chip | replaceUnderscore}}</p>
            </md-chip-template>
            <button md-chip-remove class="remove-chip">
               <ng-md-icon icon="clear" size="14"></ng-md-icon>
            </button>
        </md-chips>
    </div>
    <div class="bottom" layout="row" layout-wrap>
        <div ng-show="!edit" flex="50" layout="row">
            <md-button ng-click="editCategory()" flex class="margin-0 padding-0" aria-label="description" md-no-ink="true">
                <div class="edit padding-1" layout="row" layout-align="center center">
                    <ng-md-icon icon="mode_edit" size="20"></ng-md-icon>
                    <p class="padding-left-1">
                        <b>Edit</b>
                    </p>
                </div>
            </md-button>
        </div>
        <div ng-show="!edit" flex="50" layout="row">
            <md-button flex class="margin-0 padding-0" aria-label="description" md-no-ink="true">
                <div class="remove padding-1" layout="row" layout-align="center center">
                    <ng-md-icon icon="delete_forever" size="20"></ng-md-icon>
                    <p class="padding-left-1">
                        <b>Remove</b>
                    </p>
                </div>
            </md-button>
        </div>
        <div ng-show="edit" flex="100" layout="row">
            <md-button ng-click="saveCategory()" flex class="margin-0 padding-0" aria-label="description" md-no-ink="true">
                <div class="save padding-1" layout="row" layout-align="center center">
                    <ng-md-icon icon="verified_user" size="20"></ng-md-icon>
                    <p class="padding-left-1">
                        <b>Save</b>
                    </p>
                </div>
            </md-button>
        </div>
    </div>

</div>
