<div class="al-user-card" layout="column" md-whiteframe="3" layout-wrap>
    <div class="header request padding-1" ng-class="{'round-borders':!(openCard)}" layout="row" layout-align="none center" layout-align-xs="space-between center" layout-wrap>
        <div flex-xs="20" flex-gt-xs="10">
            <div class="user-img">
                <ng-md-icon icon="person" size="24" aria-label="Alarm Icon"></ng-md-icon>
            </div>
        </div>
        <div flex-xs="55">
            <h3>
                {{userdata.name}}
            </h3>
        </div>

        <div flex-xs="100" flex-gt-xs flex-order-xs="1" class="width-space">
        </div>
        <div hide-xs show-gt-xs>
            <h4 ng-show="userdata.resellerRequest && userdata.role == 'customer'">
                Reseller Request :
            </h4>
        </div>
        <div flex-xs="40" flex-order-xs="1" ng-show="userdata.resellerRequest && userdata.role == 'customer'">
            <md-button class="md-mini accept-button" aria-label="description" md-no-ink="true">Accept</md-button>
        </div>

        <div flex-xs="40" flex-order-xs="1" ng-show="userdata.resellerRequest && userdata.role == 'customer'">
            <md-button class="md-mini decline-button" aria-label="description" md-no-ink="true">    Decline
            </md-button>
        </div>

        <div flex-xs="40" flex-order-xs="1" ng-show="!userdata.resellerRequest || userdata.role == 'reseller'">
            <md-button class="md-mini order-button" aria-label="description" md-no-ink="true">    Orders
            </md-button>
        </div>

        <div flex-xs="55" flex-order-xs="1" ng-show="!userdata.resellerRequest && userdata.role == 'customer'">
            <md-button class="md-mini reseller-button" aria-label="description" md-no-ink="true">    Make Reseller
            </md-button>
        </div>

        <div flex-xs="55" flex-order-xs="1" ng-show="userdata.resellerRequest && userdata.role == 'reseller'">
            <md-button class="md-mini decline-button" aria-label="description" md-no-ink="true">    Remove Reseller
            </md-button>
        </div>

        <div flex-xs="20">
            <md-button class="md-icon-button expand-button" ng-click="toggleCard()" aria-label="description" md-no-ink="true">
                <ng-md-icon icon="{{caret}}" size="20" options='{"rotation" : "clockwise","duration":500, "easing" : "expo-in-out"}' aria-label="Alarm Icon"></ng-md-icon>
            </md-button>
        </div>
    </div>
    <div ng-show="openCard" class="details slide-vertical" layout="row" layout-wrap layout-align="space between">
        <div flex-gt-xs="30" class="padding-1">
            <p>
                <b>Email id : </b>
                <a href="mailto:ravi@gmail.com">{{userdata.email}}</a>
            </p>
        </div>

        <div flex-gt-xs="30" class="padding-1">
            <p>
                <b>Mobile no : </b>
                <a href="mailto:ravi@gmail.com">{{'+91-' + userdata.mobileno}}</a>
            </p>
        </div>
        <div flex-gt-xs="30" class="padding-1">
            <p>
                <b>Joinded on : </b>
                {{userdata.createdAt | date}}
            </p>
        </div>
        <div flex-gt-xs="100" class="padding-1">
            <p>
                <b>Address : </b>
                <a href="http://maps.google.com/?q=solaroad gathlodia ahmedabad" target="_blank">{{userdata.address}}</a>
            </p>
        </div>
    </div>

</div>
