.al-header-out{
    .md-button{
        @include fadeIn(
           $duration: 1s,
           $count: 1,
           $delay: 0.2s,
           $function: ease,
           $fill: both
         );
    }
}

.al-product-card{

    @include fadeIn(
       $duration: 1s,
       $count: 1,
       $delay: 0.4s,
       $function: ease,
       $fill: both
     );

}

.page{
    @include fadeIn(
       $duration: 1s,
       $count: 1,
       $delay: 0.1s,
       $function: ease,
       $fill: both
     );
}

.al-user-card{
        @include fadeIn(
           $duration: 1s,
           $count: 1,
           $delay: 0.5s,
           $function: ease,
           $fill: both
         );
}
