@for $i from 0 through 5 {
  .padding-#{$i} { padding: 10px * $i; }
  .padding-top-#{$i} { padding-top: 10px * $i; }
  .padding-bottom-#{$i} { padding-bottom: 10px * $i; }
  .padding-left-#{$i} { padding-left: 10px * $i; }
  .padding-right-#{$i} { padding-right: 10px * $i; }
  .padding-lr-#{$i} { padding-left: 10px * $i; padding-right: 10px * $i; }
  .padding-tb-#{$i} { padding-top: 10px * $i; padding-bottom: 10px * $i; }

  .margin-#{$i} { margin: 10px * $i; }
  .margin-top-#{$i} { margin-top: 10px * $i; }
  .margin-bottom-#{$i} { margin-bottom: 10px * $i; }
  .margin-left-#{$i} { margin-left: 10px * $i; }
  .margin-right-#{$i} { margin-right: 10px * $i; }
  .margin-lr-#{$i} { margin-left: 10px * $i; margin-right: 10px * $i; }
  .margin-tb-#{$i} { margin-top: 10px * $i; margin-bottom: 10px * $i; }
}

.gh-checkbox-label{
    color: rgba(0,0,0,0.26);
    transform: translate3d(0, 6px, 0) scale(.75);
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin roundButton ($color, $color-inverse, $border-radius:20px, $border-size:2px){
    border: $border-size solid $color;
    border-radius: $border-radius;
    color: $color;
    fill : $color;

    &:not([disabled]):hover{
        background-color: $color;
        color: $color-inverse;
        fill: $color-inverse;
    }
}

@mixin roundButtonInverse ($color, $color-inverse, $border-radius:20px, $border-size:2px, $secondary-color:$color,$nohover:false){
    border: $border-size solid $color;
    border-radius: $border-radius;
    background-color: $color;
    color: $color-inverse;
    fill: $color-inverse;

    &:not([disabled]):hover{
        background-color: transparent;
        border: $border-size solid $secondary-color;
        color: $secondary-color;
        fill : $secondary-color;
    }

    @if($nohover : true){
        &:not([disabled]):hover{
            background-color: $color;
            border: $border-size solid $color;
            color: $color-inverse;
            fill : $color-inverse;
        }
    }
}
