$background-in : $blue-grey-50;

$primary : $light-blue-500;
$primary-light : $light-blue-300;
$primary-dark : $light-blue-900;
$primary-hue : $light-blue-100;

$secondary : $amber-A400;
$secondary-light : $amber-A200;
$secondary-dark : $amber-A700;
$secondary-hue : $amber-A100;

$header-color : $blue-grey-600;

$heading-color : $blue-grey-700;

$text-p1: $blue-grey-500;
$text-p2: $blue-grey-900;
$text-p3: $blue-grey-300;
$text-p4: $blue-grey-800;

$text-table-header : $grey-800;
$text-table-body : $grey-700;

$cost-1 : $green-A400;
$cost-2 : $green-400;

$text-warn : $red-500;

$sidenav-in : $light-blue-900;

$input-dark-warn-color : rgb(213,0,0);

$table-background : $grey-50;
$table-border : $grey-300;

$al-border-button-color : $primary;

$h1-color : $blue-grey-800;
$h2-color : $blue-grey-500;
